:root {
  --color-white: white;
  --color-grey: #f6f6f6;
  --color-blue: #007cba;
  --color-blue-dark: #00263a;
  --color-black: #20221f;
}

/* Font Name: Montserrat */
/* Usage= font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Font Name: Playfair Display */
/* Usage= font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


html,
body {
  padding: 0;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  margin: 0;
  font-family: 'Montserrat', sans-serif, Droid Sans;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  line-height: 30px;
}

* {
  box-sizing: border-box;
}

/* colors: {
  black: '#262825',
  white: '#fff',
  grey: "#f2f2f2",
  blue: '#00263a',
  blueDark: '#478DD0'
} */
